$shark: #25292c;
$darkershark: #202123;
$chestnutrose: #d5625f;
$chestrosevibrant: #ef605a;
$white: #fefefe;
$dovegrey: #6b6b6b;
$edward: #aeafae;
$hockeypokey: #d8bc29;
$oldrose: #c88a80;
$pinecone: #70625b;
$oslogray: #899696;
$regentgray: #7e8995;
$thatch: #b4a394;
$irishcoffee: #632927;
$woodsmoke:#070809;
$antiquebrass: #c2856c;